*.iml
*.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/production
/app/dana.keystore
keystore.properties
/app/preprod/release/output.json
/app/integration2
/app/sit
/app/preprod
/app/integration1
/branchio.properties
/version.properties
/gradle.properties
/dexguard-license.txt
alipay-maven.properties
appsflyer.properties
base-env.properties
dana-maven.properties
fabric.properties
keystore.development.properties